@import "tailwindcss";

* {
	box-sizing: border-box;
}

@theme {
	--color-gray-900: #0f0f11;
	--color-gray-800: #18181B;
	--color-gray-700: #6C6C6C;
	--color-gray-500: #848484;
	--color-gray-400: #828282;
	--color-gray-300: #8F8F8F;
}

.gradient-border {
	@apply bg-gradient-to-r from-[#19A1BE] to-[#7D4192]
}

.flex-center {
	@apply flex items-center justify-center 
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100dvh;
	max-width: 100vw;
	overflow-x: hidden;

	font-family: "Montserrat", serif;

	@apply bg-gray-800
}
body.sidebar {
	overflow: hidden;
}

.screen-max-width {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}

#root {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

video::-webkit-media-controls {
	display: none !important;
}

#ai-box::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar {
	width: 10px !important;
}

#ai-box::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-track {
	background: #f1f1f1 !important;
	border-radius: 5px !important;
}

#ai-box::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
	background: #6C6C6C !important;
	border-radius: 5px !important;
}

#ai-box::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb:hover {
	background: #555 !important;
}

#ai-box li {
	padding: 10px 0;
}

/* Custom video track */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"].video-volume {
  width: 60px;
}

/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #9333ea 0%, #9333ea var(--progress), #444 var(--progress), #444 100%);
	height: 8px;
	border-radius: 8px;
}
input.video-volume::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #9333ea 0%, #9333ea var(--volume), #444 var(--volume), #444 100%);
	width: 60px;
}
/* Firefox  */
input[type="range"]::-moz-range-track {
	background: linear-gradient(to right, #9333ea 0%, #9333ea var(--progress), #444 var(--progress), #444 100%);
	height: 8px;
	border-radius: 8px;
}
input.video-volume::-moz-range-track {
	background: linear-gradient(to right, #9333ea 0%, #9333ea var(--volume), #444 var(--volume), #444 100%);
	width: 60px;
}

/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]:focus::-webkit-slider-thumb {
  border: none;
  outline: none;
}
/* Firefox */
input[type="range"]:focus::-moz-range-thumb {
  border: none;
  outline: none;  
}

/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	height: 14px;
	width: 14px;    
	border-radius: 50%;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	height: 14px;
	width: 14px;    
	border-radius: 50%;
}